[submodule "data_io"]
	path = data_io
	url = https://github.com/schneiderkamplab/data_io
[submodule "dfm-evals"]
	path = dfm-evals
	url = https://github.com/schneiderkamplab/dfm-evals
[submodule "koolbardi"]
	path = koolbardi
	url = https://github.com/schneiderkamplab/koolbardi.git
[submodule "fineinstructions"]
	path = fineinstructions
	url = https://github.com/schneiderkamplab/fineinstructions.git
