coolname
datasets
einops
flash-attn-4[cu13] @ git+https://github.com/Dao-AILab/flash-attention.git#subdirectory=flash_attn/cute
hydra-core
lm-eval[hf,vllm]
math-verify
numba
numpy
omegaconf
pydantic
PyYAML
safetensors
sympy
torch
tqdm
transformers
vllm
wandb
